{% extends "layout.html" %}
{% block content %}
<div class="content-section offset-md-2 mt-5 w-25 rounded-sm" style="background-color: #ffffff;">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
            <legend>Login</legend>
        <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for err in form.username.errors %}
                    <span>{{err}}<span>
                    {% endfor %}
                    </div>
                    {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
             
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for err in form.password.errors %}
                    <span>{{ err }}</span>
                    {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control ") }}
                {% endif %}
                   
        </div>
        <div class="form-check">
            {{form.remember(class="form-check-input")}}
            {{form.remember.label(class="form-check-label")}}
        </div>
           </fieldset>
           <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
        <small class="text-muted">
            <a href="#">Forgot Password</a>
        </small>
        <div>
            Don't have an Account?<a href="{{url_for('register')}}">SignUp</a>
        </div>
</div>
{% endblock content%}
